.tip-yellowdeep {
	z-index:1000;
	text-align:left;
	border:1px solid #e7c560;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 8px;
	min-width:50px;
	max-width:1000px;
	color:#000;
	background-color:#ffff8d;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-yellowdeep .tip-inner {
	font:12px/16px arial;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowdeep .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-yellowdeep_arrows.gif) no-repeat;
}
.tip-yellowdeep .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(tip-yellowdeep_arrows.gif) no-repeat -9px 0;
}
.tip-yellowdeep .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-yellowdeep_arrows.gif) no-repeat -18px 0;
}
.tip-yellowdeep .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(tip-yellowdeep_arrows.gif) no-repeat -27px 0;
}

/*mask*/
.loadmask {
    z-index: 700;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    background: #fbfbfb url('loading.gif') no-repeat 5px 5px;
    line-height: 16px;
	border:1px solid #a3bad9;
    color:#222;
    cursor:wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}
/*mask*/